@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');


.toggle-navbar{
    @apply transition duration-700 rounded-t-xl    ;
    box-shadow: -30px 30px 5px rgba(255,255,255,0.3);
    animation: nav-animation 0.3s ease-in forwards
}

.deactivate-toggle-navbar{
    @apply transition duration-700 overflow-hidden rounded-t-xl  fixed ;
    
    animation: nav-deactivate-animation 0.3s ease-in forwards;
}




@keyframes nav-animation {

    0%{
        @apply top-0 left-0 rotate-0 fixed;
        box-shadow: -30px 30px 5px rgba(255,255,255,0.3);
    }
    100%{
        
        @apply  left-32 top-10 rotate-12 fixed;
        box-shadow: -30px 30px 5px rgba(255,255,255,0.3);
    }
    
}

.product-info{
    @apply bg-white;
}


@keyframes nav-deactivate-animation {

    0%{
        @apply  left-32 top-10 rotate-12 fixed;
        box-shadow: -30px 30px 5px rgba(255,255,255,0.3);
    }
    100%{
        @apply top-0 left-0 rotate-0  fixed;
        box-shadow: -30px 30px 5px rgba(255,255,255,0.3);
    }
    
}




